<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.debug.middleware.model.mapper.ItemMapper">
    <resultMap id="BaseResultMap" type="com.debug.middleware.model.entity.Item">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="context" property="code" jdbcType="VARCHAR" />
    </resultMap>
    <insert id="insertSelective" parameterType="com.debug.middleware.model.entity.Behaviour" >
        insert into behaviour(behaviourNo,context) values (#{behaviourNo},#{context})
    </insert>
</mapper>
